
.cell{
    width: 80px;
    height: 80px;
    border: 2px solid;
    cursor: pointer;
    box-shadow: 0 0 0 3px;
    font-size: 50px;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 240px;
    margin: auto;
}
#resetBtn{
    cursor: pointer;
}
#gameContainer{
    text-align: center;
}


nav{
    background: rgb(214, 209, 209);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.main ul{
    list-style: none;
    display: flex;
    gap: 25px;

}
.main ul li{
}
.main ul li a{
    text-decoration: none;
    font-family: arial;
    font-style: 18px;
    font-weight: 600;
}

h2 a{
    text-decoration: none;
    color: rgb(0, 113, 2);
    font-family: arial;
}






@media screen and (max-width: 500px) {
    nav{
        justify-content: space-between;
    }
    .main ul li a{
        font-size: 14px;
        margin-left: 4px;
    }
}
